extends layout

block scripts
    script(src='/javascripts/phaser/build/phaser.js')
    script(src='/javascripts/controllermanager.js')
    script(src='/javascripts/Singleplayer.js')
    script(src='/javascripts/Menu.js')
    script(src='/javascripts/game.js')
    script(src='/socket.io/socket.io.js')
block content
    game(id='game')