doctype html
html
  head
    title= title
    block scripts
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')

  body
    block content
